{% extends 'core/base.html'%}
{% block contenido_central %}
    {% csrf_token %}
<img src="/media/images/Foto Bru.jpeg" alt="Foto de Bruno Fazzolari" style="width: 200px; height: 200px;">
<br>

<th> BRUNO FAZZOLARI</th>

<p>
Me llamo Bruno Fazzolari y nací en Haedo provincia de bsas.
A los 18 años comence a estudiar Contador publico 

Me gusta mucho las finanzas pero me interesa muchisimo la programacion 
Es mi segundo acercamiento a la programación, el primero fue en una beca pero solo en pseudocodigo 
y me cambio mucho la forma de pensar, y pienso algun dia realizar seguridad informatica
tambien soy experto universitario en mercado de capitales y diplomado en dirigencia deportiva en Club Atletico Boca Juniors "(si muy hincha)"

Amo la musica , preferentemente el rock y el rap

y bueno este es mi humilde pagina para fileales futuras 

</p>   


{% endblock  %}